body {
  padding: 10px 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: ghostwhite;
  color: #0088ff;
}

a {
  color: #00b7ff;
}

h1{
  font-size: '30px';
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

@media (max-width: 500px) {
  .center-it {
    text-align: center;
  }
  hr {
    width: 20px;
  }
}
